<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="public/assets/img/logo.png" width="30" height="30" class="d-inline-block align-top"
      alt="Eat Da Burger logo">
  </a>
</nav>


<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form action="/insertOne" method="POST">
        <div class="form-group">
          <label for="burger">
            <h3>Create a Burger</h3>
          </label>
          <input name="burger_name" type="text" class="form-control" id="burgerName" aria-describedby="burgerName"
            placeholder="Enter burger name">
        </div>
        <button type="submit" class="btn btn-primary create-burger">Add</button>
      </form>
    </div>

    <!-- Order List -->
    <div class="col-sm-4">
      <div class="order-list">
        <h2>Order List</h2>
        {{#each burgers}}
        {{#unless this.devoured}}
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6>{{this.burger_name}}</h6>
            <form action="/updateOne/{{this.id}}" method="POST">
              <input type="hidden" name="id" value="{{this.id}}">
              <input type="hidden" name="devoured" value="1">
              <button class="btn btn-sm btn-outline-danger m-1 devour-btn float-right">Devour<i class="fas fa-utensils
                  ml-2"></i>
              </button>
            </form>
          </div>
        </li>
        {{/unless}}
        {{/each}}
      </div>
    </div>

    <!-- Devour List -->
    <div class="col-sm-4">
      <div class="devour-list">
        <h2>Devour List</h2>
        <div class="card">
          <div class="card-header text-center">
          </div>
          <div class="card-body">
            {{#each burgers}}
            {{#if this.devoured}}
            <div>
              <h6 class="my-0">{{this.burger_name}}</h6>
            </div>
            {{/if }}
            {{/each }}

          </div>
        </div>
      </div>

    </div>
  </div>
</div>