body {
    background-color: #FFF7EB;
    font-family: Roboto, sans-serif;
    color: #305531;
  }
  
  .container {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    height: 97vh;
  }
  
  .box{
    margin:0 15px;
  }

  .row{
    width: 100%;
  }
  
  .container .box {
    position: relative;
    width: 250px;
    height: 150px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  .container .box .top {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .container .box .top #star {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    position: absolute;
    top: 20px;
    left: 75%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-transition: .5s;
    transition: .5s;
    text-decoration: none;
    z-index: 3;
  }
  .container .box .top #star:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
  }
  .container .box .top #star:hover .ico {
    color: #FFAE00;
  }
  .container .box .top #star .ico {
    text-align: center;
    font-size: 18px;
    color: #626262;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .container .box .top .profile, .container .box .top .title, .container .box .top .job {
    margin: 5px;
  }
  
  .container .box .top .title {
    font-size: 18px;
    font-weight: 700;
  }

  li.list-group-item.d-flex.justify-content-between.lh-condensed {
    border: 0;
}
  
  
  